.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5%;
  position: relative;
  width: 100%;
  top: 0;

  z-index: 100;
  max-width: 1400px;
}

.logo {
  font-family: var(--font-logo);
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  font-family: var(--font-body);
  text-decoration: none;
  color: var(--text-dark);
  font-size: 0.9rem;
  font-weight: 500;
}

.nav-links a:hover {
  color: var(--accent-color);
}

.btn-primary {
  background-color: var(--text-dark);
  color: #fff;
  padding: 0.4rem 2rem;
  border-radius: 12px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: background 0.3s;
}

.btn-primary:hover {
  background-color: var(--accent-color);
}
